# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore python cache files
__pycache__

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore all json files
*.json

# Ignore all pkl files
*.pkl

# Ignore all pt files
*.pt


graph_output
